@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #EBF2F5;
    font: 600 1rem Nunito, sans-serif;
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/* Aside */
aside { display: none; }

/* Map */
#map { width: 100%; height: 100%; }

/* Desktop */
@media (min-width: 820px) {
    .container { flex-direction: row; }

    aside {
        width: 30%;

        background: linear-gradient(329.54deg, #18E898 0%, #8EE1DE 100%);
        color: white;

        padding: 4rem 2rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        gap: 2rem;
    }
    aside main {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside main img {
        width: 8rem;
    }
    aside main .content {
        margin-top: 1.5rem;
    }
    aside main .content h2 {
        font-size: 2rem;
        font-weight: 800;

        margin-bottom: 0.5rem;
    }
    aside main .content p,
    aside div span {
        font-size: 0.8rem;
    }

    #map { width: calc(100% - 30%); }
}
@media (min-width: 1080px) {
    aside {
        width: 25%;

        padding: 4rem;

        gap: 3rem;
    }

    #map { width: calc(100% - 25%); }
}

/* HTML - Font size */
@media (max-width: 1080px) { html { font-size: 93.75%; } }
@media (max-width: 520px)  { html { font-size: 87.50%; } }